.idea/
*.sln.iml

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

bin/
obj/
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

*.log

.DS_Store
Thumbs.db
desktop.ini